/*////////////////////////////////
///			RESET             //// 
////////////////////////////////*/

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	list-style:none; 
}

html{
    overflow-x: hidden;
}

/* colores logo #e8232b  #00518c



/*PRINCIPAL*/

body{
	font-family: 'Open Sans Condensed', sans-serif;
    background-color: darkgray;
}


a:link    { color: #fff; }
a:visited { color: #fff; }
a{ 
	text-decoration: none;
	font-size: 1.3em;

}

hr{
	width: 100%;
	border: solid 20px floralwhite;
    margin-top: 1%;
}





/* HEADER */

header{
    width: 100%;
    background-color: floralwhite;
  
}

#logo{
    display: block;
    width: 235px;
    margin: 0 auto;  
    padding: 1%;
    
}





/* NAV */

ul{
    background-color: darkgrey;
    width: 100%; 
}

.li_nav{
    cursor: pointer;
	padding-top: 1%;
	text-align: center;
	display: inline-block;
	width: 12%;
	height: 60px;
	transition:0.5s;

}

.img_p{
    max-width: 100%;
}



/* SECTION */

#content{
    opacity: 0.9;
    width: 65%;
    float:left;
    padding: 4%;
}

#div_img_g{
    width: 25%;
    float:left;
}

#img_g{
    max-width: 100%;   
    
}

h1{
    font-size: 30pt; 
    font-weight: bolder;
    margin-bottom: 1%;
}

h2{
    font-size: 15pt;
}

#textos{
    font-size: 12pt;
}






/* FOOTER */

footer{
    width: 100%;
    padding: 3%;
    background-color: floralwhite;
    overflow: hidden;
}

address{
    font-size: 25pt;
    font-weight: bolder;
    width: 30%;
    margin: 0 auto;
}

